app/databasechangelog.csv
databasechangelog.csv
app/databasechangelog.csv.new
databasechangelog.csv.new
oracle-it/migrate.sql
HELP.md
*/target/
!.mvn/wrapper/maven-wrapper.jar
logs/

### logs ###
app/*.log*

### STS ###
*.apt_generated
*.classpath
*.factorypath
*.project
*.settings
*.springBeans
*.sts4-cache

### IntelliJ IDEA ###
*.idea
*.iws
*.iml
*.ipr

### NetBeans ###
*/nbproject/private/
*/nbbuild/
*/dist/
*/nbdist/
*/.nb-gradle/
*/build/


mvnw
mvnw.cmd

app/some-path.txt
